<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="HRA_AFD_assmebly">
  <link
    name="base_link">
    <!-- 将原inertial部分删除，放置于dummy -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- 虚拟子链接，承载原 base_link 惯性 -->
  <link name="dummy_link">
    <inertial>
      <origin
        xyz="0.00022653 -0.00030111 0.12794"
        rpy="0 0 0" />
      <mass
        value="12.684" />
      <inertia
        ixx="0.085446"
        ixy="2.5668E-07"
        ixz="3.2733E-06"
        iyy="0.089093"
        iyz="1.5189E-06"
        izz="0.11267" />
    </inertial>
  </link>
  <!-- 将 dummy_link 通过固定关节挂到 base_link 下 -->
  <joint name="base_to_dummy" type="fixed">
    <parent link="base_link"/>
    <child  link="dummy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <link
    name="LX+_Link">
    <inertial>
      <origin
        xyz="-1.8519E-10 -2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="-1.4822E-13"
        iyy="2.5177E-06"
        iyz="7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LX+_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LX+_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LX+_joint"
    type="continuous">
    <origin
      xyz="0.122 0.071 0.364"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="LX+_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="LX-_Link">
    <inertial>
      <origin
        xyz="-1.852E-10 -2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="-1.4822E-13"
        iyy="2.5177E-06"
        iyz="7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LX-_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LX-_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LX-_joint"
    type="continuous">
    <origin
      xyz="-0.122 0.071 0.222"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="LX-_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="RX+_Link">
    <inertial>
      <origin
        xyz="1.8519E-10 2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="1.4822E-13"
        iyy="2.5177E-06"
        iyz="-7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RX+_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RX+_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RX+_joint"
    type="continuous">
    <origin
      xyz="0.122 -0.071 0.222"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="RX+_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="RX-_Link">
    <inertial>
      <origin
        xyz="1.8519E-10 2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="1.4822E-13"
        iyy="2.5177E-06"
        iyz="-7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RX-_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RX-_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RX-_joint"
    type="continuous">
    <origin
      xyz="-0.122 -0.071 0.364"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="RX-_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="FY+_Link">
    <inertial>
      <origin
        xyz="-1.852E-10 -2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="-1.4822E-13"
        iyy="2.5177E-06"
        iyz="7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/FY+_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/FY+_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FY+_joint"
    type="continuous">
    <origin
      xyz="0.071 0.122 0.364"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="FY+_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="FY-_Link">
    <inertial>
      <origin
        xyz="1.852E-10 2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="1.4822E-13"
        iyy="2.5177E-06"
        iyz="-7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/FY-_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/FY-_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FY-_joint"
    type="continuous">
    <origin
      xyz="0.071 -0.122 0.222"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="FY-_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="AY+_Link">
    <inertial>
      <origin
        xyz="-2.9906E-10 1.852E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="-1.1922E-14"
        ixz="7.8541E-15"
        iyy="2.5177E-06"
        iyz="1.4822E-13"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/AY+_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/AY+_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="AY+_joint"
    type="continuous">
    <origin
      xyz="-0.071 0.122 0.222"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="AY+_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="AY-_Link">
    <inertial>
      <origin
        xyz="2.9906E-10 -1.8519E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="-1.1922E-14"
        ixz="-7.8541E-15"
        iyy="2.5177E-06"
        iyz="-1.4822E-13"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/AY-_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/AY-_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="AY-_joint"
    type="continuous">
    <origin
      xyz="-0.071 -0.122 0.364"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="AY-_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="LZ+_Link">
    <inertial>
      <origin
        xyz="2.9906E-10 -1.852E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="-1.1922E-14"
        ixz="-7.8541E-15"
        iyy="2.5177E-06"
        iyz="-1.4822E-13"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LZ+_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LZ+_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LZ+_joint"
    type="continuous">
    <origin
      xyz="0.071 0.071 0.415"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="LZ+_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="LZ-_Link">
    <inertial>
      <origin
        xyz="-1.852E-10 -2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="-1.4822E-13"
        iyy="2.5177E-06"
        iyz="7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LZ-_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/LZ-_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LZ-_joint"
    type="continuous">
    <origin
      xyz="-0.071 0.071 0.171"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="LZ-_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="RZ+_Link">
    <inertial>
      <origin
        xyz="-1.852E-10 -2.9906E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="1.1922E-14"
        ixz="-1.4822E-13"
        iyy="2.5177E-06"
        iyz="7.8541E-15"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RZ+_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RZ+_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RZ+_joint"
    type="continuous">
    <origin
      xyz="-0.071 -0.071 0.415"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="RZ+_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="RZ-_Link">
    <inertial>
      <origin
        xyz="2.9906E-10 -1.852E-10 -0.017338"
        rpy="0 0 0" />
      <mass
        value="0.039411" />
      <inertia
        ixx="2.5177E-06"
        ixy="-1.1922E-14"
        ixz="-7.8541E-15"
        iyy="2.5177E-06"
        iyz="-1.4822E-13"
        izz="2.7426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RZ-_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/RZ-_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RZ-_joint"
    type="continuous">
    <origin
      xyz="0.071 -0.071 0.171"
      rpy="-3.1416 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="RZ-_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="T265_Link">
    <inertial>
      <origin
        xyz="-0.001386 -0.0091923 -2.5634E-07"
        rpy="0 0 0" />
      <mass
        value="0.06" />
      <inertia
        ixx="6.1726E-05"
        ixy="3.3535E-08"
        ixz="-7.633E-11"
        iyy="3.6882E-06"
        iyz="1.473E-12"
        izz="5.9549E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/T265_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.7 0.7 0.7 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/T265_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="T265_joint"
    type="fixed">
    <origin
      xyz="0.1193 0 0.36925"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="T265_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="D435i_Link">
    <inertial>
      <origin
        xyz="-0.001386 -0.0091923 -2.5634E-07"
        rpy="0 0 0" />
      <mass
        value="0.072" />
      <inertia
        ixx="6.1726E-05"
        ixy="3.3535E-08"
        ixz="-7.633E-11"
        iyy="3.6882E-06"
        iyz="1.473E-12"
        izz="0.14716" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/D435i_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://HRA_AFD_assmebly/meshes/D435i_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="D435i_joint"
    type="fixed">
    <origin
      xyz="0.11555 0.0175 0.3445"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="D435i_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
