<launch>
    <!--
        File: dashboard.launch
        功能: 最终版一键启动文件，支持多构型和自定义初始位姿。
    -->

    <!-- ======================= 用户配置区 ======================= -->

    <arg name="debug_print" default="false" doc="是否在终端中打印桥接节点的调试信息"/>

    <!-- 选择要启动的机器人构型 -->
    <arg name="config" default="free_flying" doc="构型选择: free_flying(6dof (仿真/飞行)) 或 ground_testing(3dof (地面实验))"/>

    <!-- 系统运行频率 -->
    <arg name="frequency" default="100.0" doc="系统运行频率 [Hz]"/>


    <arg name="mode" default="operating" doc="构型选择: operating 或 debug"/>


    <!-- 2. 定义机器人在世界中的初始位姿 -->
    <arg name="initial_pose_x_free_flying" default="0.1193" />
    <arg name="initial_pose_y_free_flying" default="0.0" />
    <arg name="initial_pose_z_free_flying" default="0.20025" />

    <arg name="initial_pose_x_ground_testing" default="0.1193" />
    <arg name="initial_pose_y_ground_testing" default="0.0" />
    <arg name="initial_pose_z_ground_testing" default="0.36925" />

    <!-- 2.1 根据 robot_config 选择对应构型的值 -->
    <arg name="initial_pose_x" default="$(eval arg('initial_pose_x_' + arg('config')))"/>
    <arg name="initial_pose_y" default="$(eval arg('initial_pose_y_' + arg('config')))"/>
    <arg name="initial_pose_z" default="$(eval arg('initial_pose_z_' + arg('config')))"/>

    <arg name="initial_pose_R" default="0.0" />
    <arg name="initial_pose_P" default="0.0" />
    <arg name="initial_pose_Y" default="0.0" />

    <!-- ======================= 系统实现区 ======================= -->

    <!-- 步骤 1: 创建 'map' 坐标系并发布 'map' -> 'rs_t265_odom_frame' 的变换 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_broadcaster" args="$(arg initial_pose_x) $(arg initial_pose_y) $(arg initial_pose_z) 
                 $(arg initial_pose_Y) $(arg initial_pose_P) $(arg initial_pose_R) 
                 map rs_t265_odom_frame" />

    <!-- 步骤 2: 包含并启动所有机器人后端节点 -->
    <include file="$(find rs_t265_serial_bridge)/launch/rs_t265_serial.launch">
        <arg name="config" value="$(arg config)"/>
        <arg name="mode" value="$(arg mode)"/>
        <arg name="frequency" value="$(arg frequency)"/>
        <arg name="debug_print" value="$(arg debug_print)"/>
    </include>

    <!-- 步骤 3: 启动 RQT GUI 并加载对应构型的 perspective 文件 -->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find hra_control_ui)/resource/$(arg config).perspective"/>

</launch>